@model Accounting.Models.ReconciliationViewModels.CreateReconciliationRevViewModel

@{
    ViewData["Title"] = "Create reconciliation - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

@{
    string headerText = "Create reconciliation";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
	<div class="flex-1 text-align-right">
		<a asp-action="Index" asp-controller="Home"
			 class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
	</div>
</div>