@model Accounting.Models.ReconciliationViewModels.ReconciliationDetailsViewModel

@{
  ViewData["Title"] = Model.Name + " - Reconciliation Details - " + ConfigurationSingleton.Instance.ApplicationName;
  string headerText = Model.Name + " - Reconciliation Details";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

<div id="app">
  <table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">

    </thead>
    <tbody class="font-Roboto-Mono">

    </tbody>
  </table>
</div>

<script>

</script>