@model Accounting.Models.ReconciliationViewModels.ReconciliationTransactionsPaginatedViewModel

@{
  ViewData["Title"] = Model.Name + " - Reconciliation transactions - " + ConfigurationSingleton.Instance.ApplicationName;
  string headerText = Model.Name + " - Reconciliation transactions";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div class="margin-left-20px flex-1 text-align-right">
    <a asp-action="Reconciliations" asp-controller="ReconciliationRev" class="font-Roboto font-size-16px color-blue">Reconciliations</a>
    <a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
  </div>
</div>

<div id="app">
  <table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">

    </thead>
    <tbody class="font-Roboto-Mono">

    </tbody>
  </table>
</div>

<script>
  const { createApp } = Vue;

  const app = createApp({
    data() {
      return {
        reconciliationTransactions: [],
        page: @Model.Page,
        pageSize: @Model.PageSize,
        nextPage: null,
        rememberPageSize: @(Model.RememberPageSize ? "true" : "false")
      };
    },
    methods: {
      fetchReconciliationTransactions() {
        const storedPageSize = parseInt(localStorage.getItem('pageSize'));
        if (storedPageSize) {
          this.pageSize = storedPageSize;
        }
        let apiUrl;

        if (this.reconciliationFilter) {
          apiUrl = `/api/rclrev/get-reconciliation-transactions-filtered?search=${encodeURIComponent(this.reconciliationFilter)}`;
        } else {
          apiUrl = `/api/rclrev/get-reconciliation-transactions?page=${this.page}&pageSize=${this.pageSize}`;
        }

        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            this.reconciliationTransactions = data.reconciliationTransactions;
            if (!this.reconciliationFilter) {
              if (data.page > 0) {
                this.page = data.page;
              }
              if (data.nextPage > 0) {
                this.nextPage = data.nextPage;
              }
            }
          });
      }
    },
    mounted() {
      if (this.rememberPageSize) {
        localStorage.setItem('pageSize', this.pageSize);
      }
      this.fetchReconciliationTransactions();
    },
  });

  app.mount('#app');
</script>