@model Accounting.Models.ReconciliationViewModels.ReconciliationsViewModel

@{
    ViewData["Title"] = "Reconciliations - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
    string headerText = "Reconciliations";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<table>

</table>