@model Accounting.Models.ReserveViewModels.MonetizeReserveViewModel

@{
  ViewData["Title"] = "Monetize - " + ConfigurationSingleton.Instance.ApplicationName;
  string headerText = "Monetize";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div class="margin-left-20px flex-1 text-align-right">
    <a asp-action="Reserve" asp-controller="Reserve" class="font-Roboto font-size-16px color-blue margin-left-20px">Reserves</a>
    <a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
  </div>
</div>

<form asp-action="Monetize" asp-controller="Reserve" method="post" class="display-flex flex-direction-column">
  <input type="hidden" asp-for="ReserveId" />

  <div class="display-flex flex-direction-column">
    <label asp-for="Amount" class="background-color-antiquewhite"></label>
    <input asp-for="Amount" class="margin-bottom-5px font-size-20px" />
  </div>
  <button type="submit" class="full-width-regular-button">Monetize</button>
</form>

@if (Model != null && Model.ValidationResult != null)
{
  foreach (var error in Model.ValidationResult.Errors)
  {
    <div>
      <small class="color-red">@error.ErrorMessage</small>
    </div>
  }
}

<script>

</script>