@model Accounting.Models.MetalViewModels.MetalsViewModel

@{
  ViewData["Title"] = "Reserves - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

@{
  string headerText = "Reserves";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<template id="reserve-action-template">
  <div class="display-flex padding-top-bottom-2px">
    <div class="display-flex flex-1">
      <a href="#" @@click.prevent="toggleAction" class="margin-right-5px">{{ reserve.name }}</a>
      <span v-if="isExpanded" class="display-flex">
        <div class="display-flex flex-direction-column background-color-333333 padding-left-5px padding-right-5px">
          <div class="flex-1"></div>
          <a class="font-size-12px font-Roboto color-white text-decoration-none cursor-default">options:</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex
          flex-direction-column
          background-color-333333
          padding-right-5px
          padding-left-5px
          margin-left-2px">
          <div class="flex-1"></div>
          <a :href="'/res/monetize/' + reserve.reserveID" class="font-size-16px font-Roboto color-white text-decoration-none">
            monetize
          </a>
          <div class="flex-1"></div>
        </div>
      </span>
    </div>
  </div>
</template>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div class="margin-left-20px">
    <a asp-action="Deposit" asp-controller="Reserves" class="font-Roboto font-size-16px color-blue padding-right-20px">Deposit</a>
    <a asp-action="Withdraw" asp-controller="Reserves" class="font-Roboto font-size-16px color-blue">Withdraw</a>
  </div>
  <div class="margin-left-20px flex-1 text-align-right">
    <a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
  </div>
</div>

<table id="app" class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
  <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
    <tr>
      <th class="text-align-left padding-right-20px">Name</th>
      <th class="text-align-left width-1px padding-right-20px">Type</th>
      <th class="text-align-right width-1px padding-right-20px">Unit</th>
      <th class="text-align-right width-1px">Weight</th>
    </tr>
  </thead>
  <tbody class="font-Roboto-Mono">
    <tr v-for="metal in metals" :key="metal.metalID">
      <td>{{ metal.name }}</td>
      <td class="padding-right-20px">{{ metal.type }}</td>
      <td class="text-align-right padding-right-20px">{{ metal.unit }}</td>
      <td class="text-align-right">{{ metal.weight }}</td>
    </tr>
  </tbody>
</table>

<script>
  const { createApp } = Vue;

  const ReserveAction = {
    name: 'ReserveAction',
    props: ['reserve', 'isExpanded'],
    template: '#reserve-action-template',
    methods: {
      toggleAction() {
        this.$emit('expand');
      }
    }
  };

  const app = createApp({
    components: {
      'reserve-action': ReserveAction
    },
    data() {
      return {
        metals: []
      };
    },
    methods: {
      loadMetals() {
        fetch('/api/reserve/get-reserves')
          .then(response => response.json())
          .then(data => {
            this.metals = data.metals;
          });
      }
    },
    mounted() {
      this.loadMetals();
    }
  });

  app.mount('#app');
</script>