@model Accounting.Models.ReconciliationViewModels.ReconciliationsViewModel

@{
  ViewData["Title"] = "Reconciliations - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Reconciliations";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
	<div>
		<a asp-action="Create" asp-controller="Invoice" class="font-Roboto font-size-16px color-blue margin-left-20px">
			Create invoice
		</a>
	</div>
	<div class="margin-left-20px flex-1 text-align-right">
		<a asp-action="Customers" asp-controller="Customer"
			 class="font-Roboto font-size-16px color-blue margin-left-20px">Customers</a>
		<a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
	</div>
</div>