@model Accounting.Models.UserAccountViewModels.LoginViewModel

@{
  ViewData["Title"] = "Enter - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Enter";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div class="margin-left-20px flex-1 text-align-right">
    <a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
  </div>
</div>

<form asp-action="Login" asp-controller="UserAccount" method="post" class="display-flex flex-direction-column">
  <div class="display-flex flex-direction-column">
    <label asp-for="Email" class="background-color-antiquewhite"></label>
    <input asp-for="Email" class="margin-bottom-5px font-size-20px font-Roboto-Mono" />
  </div>
  <div class="display-flex flex-direction-column">
    <label asp-for="Password" class="background-color-antiquewhite">Password</label>
    <input asp-for="Password" type="password" class="margin-bottom-5px font-size-20px font-Roboto-Mono"/>
  </div>

  <button type="submit" class="full-width-regular-button">Next</button>
</form>

@if (Model != null && Model.ValidationResult != null)
{
  foreach (var error in Model.ValidationResult.Errors)
  {
    <div>
      <small class="color-red">@error.ErrorMessage</small>
    </div>
  }
}

<script>
  window.onload = function() {
    var emailInput = document.querySelector('input[name="Email"]');
    var passwordInput = document.querySelector('input[name="Password"]');
    if (emailInput && emailInput.value) {
      passwordInput.focus();
    }
  };
</script>