@model Accounting.Models.BlogViewModels.UpdateBlogViewModel

@{
  ViewData["Title"] = "Update post - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

@{
  string headerText = "Update post";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<template id="attachment-action-template">
  <div class="display-flex padding-top-bottom-2px">
    <div class="display-flex flex-direction-column flex-1">
      <a href="#" @@click.prevent="toggleAction" class="margin-right-5px">{{ attachment.fileName }}</a>

      <!-- General options (always shown when expanded) -->
      <span v-if="isExpanded" class="display-flex margin-left-2px margin-bottom-2px">
        <div class="display-flex flex-direction-column background-color-333333 padding-left-5px padding-right-5px">
          <div class="flex-1"></div>
          <a class="font-size-12px font-Roboto color-white text-decoration-none cursor-default">options:</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex flex-direction-column background-color-333333 padding-right-5px padding-left-5px margin-left-2px">
          <div class="flex-1"></div>
          <a :href="'/api/blog-attachment/download/' + attachment.blogAttachmentID"
             class="font-size-16px font-Roboto color-white text-decoration-none"
             download>download</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex flex-direction-column background-color-333333 padding-right-5px padding-left-5px margin-left-2px">
          <div class="flex-1"></div>
          <a href="#" @@click.prevent="$emit('remove', attachment.blogAttachmentID)"
             class="font-size-16px font-Roboto color-white text-decoration-none">remove</a>
          <div class="flex-1"></div>
        </div>
      </span>

      <!-- mp4 ffmpeg options: only show when expanded AND file is .mp4 -->
      <span v-if="isExpanded && attachment.fileName &&
               attachment.fileName.toLowerCase().endsWith('.mp4')"
            class="display-flex margin-left-2px">
        <div class="display-flex flex-direction-column background-color-333333 padding-left-5px padding-right-5px">
          <div class="flex-1"></div>
          <a class="font-size-12px font-Roboto color-white text-decoration-none cursor-default">mp4 ffmpeg:</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex flex-direction-column background-color-333333 padding-right-5px padding-left-5px margin-left-2px">
          <div class="flex-1"></div>
          <a href="#" @@click.prevent="$emit('schedule-mp3', attachment.blogAttachmentID)"
             class="font-size-16px font-Roboto text-decoration-none color-forestgreen">mp3</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex flex-direction-column background-color-333333 padding-right-5px padding-left-5px margin-left-2px">
          <div class="flex-1"></div>
          <a href="#" @@click.prevent="$emit('schedule-720', attachment.blogAttachmentID)"
             class="font-size-16px font-Roboto text-decoration-none color-forestgreen">720p</a>
          <div class="flex-1"></div>
        </div>
        <div class="display-flex flex-direction-column background-color-333333 padding-right-5px padding-left-5px margin-left-2px">
          <div class="flex-1"></div>
          <a href="#" @@click.prevent="$emit('schedule-original', attachment.blogAttachmentID)"
             class="font-size-16px font-Roboto text-decoration-none color-forestgreen">original</a>
          <div class="flex-1"></div>
        </div>
      </span>
    </div>
  </div>
</template>

<form id="app" asp-action="Update" asp-controller="Blog" method="post" class="display-flex flex-direction-column margin-bottom-5px">
  <input type="hidden" asp-for="BlogID" />
  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label asp-for="Title" class="background-color-antiquewhite"></label>
    <input asp-for="Title" class="font-size-20px" maxlength="100" autocomplete="off" />
  </div>
  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Content" class="background-color-antiquewhite"></label>
    <textarea asp-for="Content" class="font-size-20px" rows="6"></textarea>
    <span>
      <input asp-for="Public" type="checkbox" class="margin-bottom-5px" />
      <label asp-for="Public">public</label>
    </span>
  </div>

  <!-- Attachments section -->
  <div class="display-flex margin-bottom-5px">
    <div class="flex-1 padding-5px background-color-antiquewhite">
      <input type="file" @@change="uploadFile" ref="fileInput" />
    </div>
  </div>

  <table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
      <tr>
        <th class="text-align-left width-1px padding-right-20px">File name</th>
      </tr>
    </thead>
    <tbody class="font-Roboto-Mono">
      <tr v-for="attachment in attachments" :key="attachment.blogAttachmentID">
        <td class="padding-right-20px white-space-nowrap">
          <attachment-action :attachment="attachment"
                             :is-expanded="attachment.blogAttachmentID === expandedAttachmentId"
                             @@expand="handleAttachmentExpand(attachment.blogAttachmentID)"
                             @@remove="removeAttachment"
                             @@schedule-mp3="scheduleMp3"
                             @@schedule-720="schedule720p"
                             @@schedule-original="scheduleOriginal"></attachment-action>
        </td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="DeletedAttachmentIdsCsv" :value="deletedAttachmentIds.join(',')" />
  <input type="hidden" name="NewAttachmentIdsCsv" :value="newAttachmentIds.join(',')" />

  <button type="submit" class="full-width-regular-button">Update post</button>
</form>

<script>
  const { createApp } = Vue;

  const AttachmentAction = {
    name: 'AttachmentAction',
    props: ['attachment', 'isExpanded'],
    template: '#attachment-action-template',
    methods: {
      toggleAction() {
        this.$emit('expand');
      },
      removeAttachment() {
        this.$emit('remove', this.attachment.blogAttachmentID);
      }
    }
  };

  const app = createApp({
    components: {
      'attachment-action': AttachmentAction,
    },
    data() {
      return {
        attachments: @Html.Raw(Model?.Attachments != null ? Json.Serialize(Model.Attachments) : "[]"),
        deletedAttachmentIds: [],
        expandedAttachmentId: null,
        newAttachmentIds: []
      };
    },
    methods: {
      scheduleMp3(id) {
        console.log('scheduleMp3', id);
      },
      schedule720p(id) {
        console.log('schedule720', id);
      },
      scheduleOriginal(id) {
        console.log('scheduleOriginal', id);
      },
      removeAttachment(id) {
        // Add to deletedAttachmentIds if not already present
        if (!this.deletedAttachmentIds.includes(id)) {
          this.deletedAttachmentIds.push(id);
        }
        // Remove from attachments list
        this.attachments = this.attachments.filter(
          attachment => attachment.blogAttachmentID !== id
        );
        // Also remove from newAttachmentIds if it was just uploaded and then deleted
        this.newAttachmentIds = this.newAttachmentIds.filter(
          newId => newId !== id
        );
      },
      uploadFile(event) {
        const file = event.target.files[0];
        const formData = new FormData();
        formData.append('formFile', file);
        fetch('/api/blog-attachment/upload', {
          method: 'POST',
          body: formData,
        })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Network response was not ok.');
          })
          .then(data => {
            this.attachments.push(data);
            this.newAttachmentIds.push(data.blogAttachmentID);
            this.$refs.fileInput.value = '';
          })
          .catch(error => {
            console.log('There was a problem with the fetch operation: ', error);
          });
      },
      handleAttachmentExpand(id) {
        this.expandedAttachmentId = this.expandedAttachmentId === id ? null : id;
      },
    }
  });

  app.mount('#app');
</script>