@{
  ViewData["Title"] = "Introduction - " + ConfigurationSingleton.Instance.ApplicationName;
}

<div class="background-color-antiquewhite padding-10px font-Roboto-Mono margin-bottom-5px">
  <h1>Introduction</h1>
  <p>This system is </p>
  <br />
  <p>This web application is a collection of patterns and practices demonstrating how to model any financial operation. The repository contains all the neccesary code and references to deploy this application from <b>localhost</b> to <b>remote</b>, in a comfortably reasonable amount of time.</p>
  <br />
  <p>The application repository can be described to have the following chapters...</p>
  <ol>
    <li><a href="#">Application specification and requirements.</a></li>
    <li><a href="#">Localhost configuration.</a></li>
    <li><a href="#">Modeling financial operations.</a></li>
    <li><a href="#">General principals of design.</a></li>
    <li><a href="#">Deployment, multitenancy, and disaster recovery.</a></li>
  </ol>
</div>